body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 8px;
}

label {
    color: #5f9341;
    font-weight: 900;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    border-radius: 6px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    flex-grow: 1;
    border-radius: 6px;
}
#delete-btn {
    background: white;
    color: #5f9341;
}

ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}
